{% extends "layout.html" %}

{% block title %}
    Tweet with Me
{% endblock %}

{% block content %}
    <h1 class="text-center text-white mt-4">Welcome to my project</h1>
    <h3 style="color: #f5f5f5; padding-top: 50px">{% if form.instance.pk %}
            Edit Tweet
        {% else %}
            Create Tweet
        {% endif %}
    </h3>
    <form method="post" enctype="multipart/form-data" style="color: #f5f5f5">
        {% csrf_token %}
        {{ form.as_p }}
        <a href={% url "display_tweet" %}><button type="submit" class="btn btn-primary mt-3">Submit</button></a>
    </form>

{% endblock %}